@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@500;600&display=swap");

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block
}
body{
  line-height:1
}
ol,ul{
  list-style:none
}
button{
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font:inherit;
  cursor:pointer;
  outline:inherit
}
a{
  text-decoration:none;
  border:none;
  color:currentColor
}

@keyframes scaleDelayed{
  0%{transform:scale(1)}
  50%{transform:scale(1.1)}
  100%{transform:scale(1)}
}:root{font-size:62.5%;
  scroll-behavior:smooth
}
@media (max-width: 480px){:root{font-size:55%}}

@media (max-width: 1200px){
  :root{
    font-size:61%}
  }
  :root body{
    font-size:1.6rem
  }
  .hidden{
    display:none !important
  }
    .container{
      margin-right:auto;
      margin-left:auto;
      width:90%
    }
    body{
      background-color:#13131F
    }
    header{
      position:sticky;
      top:0;
      z-index:100;
      background-color:#13131F
    }
      header.open{
        background-color:rgba(0,0,0,0.65);
        backdrop-filter:blur(10px)
      }

header .container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:2.5rem 0;
  flex-wrap:wrap
}

header .container .menu i{
  font-size:2rem;
  color:#E6510B;
  cursor:pointer;
  padding:0.5rem;
  border-radius:50%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

header .container h2{
  font-family:'DM Sans',
   sans-serif;
  font-size:2.6rem;
  font-weight:bold;
  color:#F9F9F9
}

header::after{
  content:"";
  display:block;   position:absolute;
  width:100%;
  height:0.1rem;
  background-image:linear-gradient(90deg, #E6510B 0%, #F53500 92.32%)
}

section#sobre{padding-bottom:10.25rem}

@media (max-width: 480px){section#sobre{padding-bottom:5rem}}

section#sobre .container{
  display:flex;
  flex-direction:column}

section#sobre .banner{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10rem 2.5rem;
  margin-top: 60px;
}

@media (max-width: 480px){
  section#sobre .banner{flex-wrap:wrap-reverse;
    justify-content:center;
  padding-top:5rem;
  text-align:center
}
}

@media (max-width: 480px){
  section#sobre .banner .profile{text-align:center}}
  section#sobre .banner .profile img{
    cursor:pointer;
    transition:0.2s;
    max-width:100%;
    animation:scaleDelayed 1s 6.5s;
    margin-top: 10px;
  }
section#sobre .banner .profile img:hover{transform:scale(1.1)}
@media (min-width: 860px){section#sobre .banner .profile img{width:40rem}}
@media (max-width: 860px){section#sobre .banner .profile img{width:30rem}}
@media (max-width: 660px){section#sobre .banner .profile img{width:19rem}}@media (max-width: 480px){section#sobre .banner .profile img{width:60%;margin-bottom:2.5rem}}

section#sobre .banner .intro{
  display:flex;
  flex-direction:column;
  gap:2.5rem
}
section#sobre .banner .intro .title{
  display:flex;
  flex-direction:column;
  gap:0.5rem
}
section#sobre .banner .intro .title h1{
  font-family:'Poppins', 
  sans-serif;
  font-size:4.2rem;
  font-weight:500;
  color:#F9F9F9;
  line-height:5.4rem
}

@media (max-width: 860px){
  section#sobre .banner .intro .title h1{
    font-size:clamp(2rem, 5vw, 4rem) !important;
    line-height:120% !important}
  }
  
  @media (max-width: 480px){
    section#sobre .banner .intro .title h1{
      font-size:clamp(3.6rem, 10vw, 4.2rem) !important;
      line-height:120% !important}
    }
      section#sobre .banner .intro .title .name{
        font-family:'Poppins',
         sans-serif;
         font-size:4.2rem;
         font-weight:500;
         color:#F9F9F9;
         line-height:5.4rem;
         display:block;
         color:#E6510B
        }
         @media (max-width: 860px){
          section#sobre .banner .intro .title .name{
            font-size:clamp(2rem, 5vw, 4rem) !important;
            line-height:120% !important}
          }

@media (max-width: 480px){
  section#sobre .banner .intro .title .name{
    font-size:clamp(3.6rem, 10vw, 4.2rem) !important;
    line-height:130% !important}
  }
  section#sobre .banner .intro .title p{
    font-family:'DM Sans',
     sans-serif;font-size:2rem;
     font-weight:500;
     color:#828282;
   
    } 
    

@media (max-width: 860px){
  section#sobre .banner .intro .title p{
    font-size:clamp(1.4rem, 2.3vw, 1.8rem) !important;
    line-height:120% !important;
  }
  }

@media (max-width: 480px){
  section#sobre .banner .intro .title p{font-size:clamp(1rem, 8vw, 1.8rem) !important;
    line-height:150% !important;
  }}
  section#sobre .banner .intro .actions{display:flex;gap:2.5rem}
  
  @media (max-width: 480px){
    section#sobre .banner .intro .actions{justify-content:center;flex-wrap:wrap
    }}
    section#sobre .banner .intro .actions a{
      font-family:'DM Sans',
       sans-serif;
       font-size:1.4rem;
       font-weight:500;
       color:#F9F9F9;
       padding:1.2rem 2.7rem;
       background-image:linear-gradient(90deg, #E6510B  .2%, #F53500 100%);
       display:flex;
       align-items:center;
       justify-content:center;
       border-radius:2rem;
       transition:0.3s
      }
      section#sobre .banner .intro .actions a:nth-child(1){
        background-image:none;
        border:0.1rem solid #E6510B 
      }
        section#sobre .banner .intro .actions a:hover{
          background-image:linear-gradient(90deg, #E6510B  100%, #F53500 .2%);
          transform:scale(0.95)
        }

          @media (max-width: 860px){
            section#sobre .banner .intro .actions a{
              font-size:clamp(1.2rem, 2vw, 1rem) !important;
              padding:1.2rem 1.5rem !important;border-radius:2rem
            }}

              @media (max-width: 660px){
                section#sobre .banner .intro .actions a{
                  font-size:clamp(1.1rem, 1.5vw, 1rem) !important;
                  padding:1rem 1rem !important
                }}

                  @media (max-width: 480px){
                    section#sobre .banner .intro .actions a{
                      width:100% !important;
                      font-size:1.6rem !important;
                      padding:1.4rem 2.5rem !important
                    }}
                    section#sobre .about{
                      display:flex;
                      flex-direction:column;
                      align-items:center;
                      gap:2.5rem
                    }
                    section#sobre .about h2{
                      font-family:'DM Sans', 
                      sans-serif;
                      font-size:3.2rem;
                      color:#F9F9F9;
                      font-weight:600
                    }
                    section#sobre .about p{
                      color:#828282;
                      font-family:'DM Sans',
                       sans-serif;
                       font-size:1.8rem;
                       text-align:center;
                       width:55%;
                       line-height:180%
                      }

                      @media (max-width: 1200px){
                        section#sobre .about p{width:100%}}
                        @media (max-width: 660px){
                          section#sobre .about p{font-size:1.6rem}
                        }

section#contacts{
  margin:2.5rem 0 30rem 0
}
section#contacts .contacts{
  margin-top:-5.5rem
}
section#contacts .contacts .container{
  display:flex;
  flex-direction:column;
  align-items:center
}
section#contacts .contacts .container h2{
  font-family:'DM Sans', 
  sans-serif;
  font-size:3.2rem;
  color:#F9F9F9;
  font-weight:600;
  margin-bottom:10rem
}
section#contacts .contacts .icons{
  display:flex;
  flex-wrap:wrap;
  gap:7.5rem;
  justify-content:center
}
section#contacts .contacts .icons .icon{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  transition:0.2s
}
  section#contacts .contacts .icons .icon:hover{transform:scale(1.2)}
  section#contacts .contacts .icons .icon a{width:fit-content}
  section#contacts .contacts .icons .icon a:first-child{margin-bottom:2rem}section#contacts .contacts .icons .icon a:nth-child(2){margin-bottom:1rem}section#contacts .contacts .icons .icon a:last-child p{
    font-size:1.6rem;
    font-weight:500;
    color:#828282
  }
  section#contacts .contacts .icons .icon a p{
    font-family:'DM Sans',
     sans-serif;
     font-size:1.8rem;
     font-weight:bold;
     color:#F9F9F9
    }
    section#contacts .contacts .icons .icon .box{
      display:flex;
      justify-content:center;
      align-items:center;
      background-color:#212121;
      border-radius:50%
    }
    section#contacts .contacts .icons .icon .box img{padding:1.5rem}

    section#contacts .contacts .container h2::after{
      content: "";
      display: block;
      width: 67px;
      height: 1px;
      background: #E6510B;
      position: absolute;

    }

  .imgprofile{
    border-radius: 20px;
    width: 100px;
   
  }

.banner{
  margin-top: -20px!important;
}

.projeto {
  position: relative;
  width: 400px;
  border-radius: 10px;
  height: 220px;
  overflow: hidden;
  transition: transform 0.3s ease, filter 0.2s ease;
}

.projeto:hover {
  transform: scale(1.1);
  filter: brightness(70%);
}

.projetos-container h2{
  font-family:'DM Sans', 
  sans-serif;
  font-size:3.2rem;
  color:#F9F9F9;
  font-weight:600;
  margin-bottom:10rem;
  text-align: center;
 }

 .divprojetos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  margin-top: -50px;
  margin-bottom: 20px;
 }

 .conteudo h3{
  color: #e7e3e3;
  font-size: 16px;
  font-family: sans-serif;
  width: 380px;
  line-height: 18px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 500;
  
}
.conteudo p::after{
content: "";
display: block;
width: 67px;
height: 1px;
background: #E6510B;
position: absolute;
}
.conteudo p{
  font-weight: 300;
  color: #e7e3e3;
  font-size: 13.5px;
  font-family: sans-serif;
  width: 360px;
  line-height: 18px;
  padding: 10px;
}

.about p{
  margin-top: -80px;
}

@media (max-width: 800px){

  .conteudo p{
    width: 280px;
  }
}



  

